DBNAME=datanommer2 # Warning: Don't change this value as it will break table creation for now.

HOST_BASE=./pg_data
FILL_TABLES_INITIALIZE=true # Set to false to start with an empty database
HOST_BASE=./pg_data
RW_PASS=datanommer
DATA_DIR=/datanommer_incremental_data
